.survey-page-container {
  h1 {
    font-size: 1.5rem;
  }

  .page-questions-container {
    .subquestions-container {
      padding-left: 2.3125em;
    }
  }
}

.question-container {
  .question-title {
    font-family: "Raleway";
    font-size: 1.2em;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .subquestion-title {}

  .main-rates-container {}

  .sub-rates-container {}
}

.question-title {
  font-family: "Raleway";
  font-size: 1.2em;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.rate {
  min-width: 2.3125em;
  height: 2.3125em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #9f9f9f;
  padding: 0 0.3125em;
  border: solid 0.1875em #9f9f9f;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.13;
  margin: 3px 0;
  margin-right: 0.26em;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: #9f9f9f;
    color: white;
  }
}

.selected {
  background-color: rgb(26, 179, 148);
  border-color: rgb(26, 179, 148);
  color: rgb(255, 255, 255);
}